# Generador de csvs para demo

In [1]:
import pandas as pd

In [4]:
atms_raw = pd.read_csv("data_hackaton/atms-raw.csv")
issues_raw = pd.read_csv("data_hackaton/issues-raw.csv", delimiter=";", decimal=",")

CSV con latitud y longitud de los cajeros que son practicaja

In [6]:
atms_raw.columns

Index(['ATM', 'Sitio', 'CR', 'Division', 'Marca', 'Tipo dispositivo',
       'Estatus dispositivo', 'Calle', 'Num. Ext.', 'Estado', 'Ciudad', 'CP',
       'Del/Muni', 'Colonia', 'Latitud', 'Longitud', 'Tipo localidad', 'IDC',
       'ETV'],
      dtype='object')

In [67]:
atms_reduced = atms_raw[['ATM', 'Latitud', 'Longitud', 'Tipo dispositivo', 'ETV']]
atms_reduced.head(2)

  ATM    Latitud    Longitud Tipo dispositivo        ETV
0   2  19.388584  -99.247905      DISPENSADOR  APODERADO
1   4  24.807033 -107.394186      DISPENSADOR      SEPSA

In [68]:
atms_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13782 entries, 0 to 13781
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ATM               13782 non-null  object
 1   Latitud           13782 non-null  object
 2   Longitud          13782 non-null  float64
 3   Tipo dispositivo  13782 non-null  object
 4   ETV               13782 non-null  object
dtypes: float64(1), object(4)
memory usage: 538.5+ KB

In [69]:
atms_reduced["Latitud"] = atms_reduced["Latitud"].str.replace("\.", "")
atms_reduced["Latitud"] = (atms_reduced["Latitud"].str[:2] + '.' + atms_reduced["Latitud"].str[2:]).astype(float)
atms_reduced.head(2)

/tmp/ipykernel_1475/3015021134.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  atms_reduced["Latitud"] = atms_reduced["Latitud"].str.replace("\.", "")
/tmp/ipykernel_1475/3015021134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  atms_reduced["Latitud"] = atms_reduced["Latitud"].str.replace("\.", "")
/tmp/ipykernel_1475/3015021134.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  atms_reduced["Latitud"] = (atms_reduced["Latitud"].str[:2] + '.' + atms_reduced["Latitud"].str[2:]).astype(float)

  ATM    Latitud    Longitud Tipo dispositivo        ETV
0   2  19.388584  -99.247905      DISPENSADOR  APODERADO
1   4  24.807033 -107.394186      DISPENSADOR      SEPSA

In [42]:
atms_reduced['Tipo dispositivo'].unique()

array(['DISPENSADOR', 'PRACTDUAL', 'AUTOBANCO'], dtype=object)

In [43]:
atms_reduced['Tipo dispositivo'].value_counts()

DISPENSADOR    7957
PRACTDUAL      5810
AUTOBANCO        15
Name: Tipo dispositivo, dtype: int64

In [44]:
atms_dispensador = atms_reduced[atms_reduced['Tipo dispositivo'] == "DISPENSADOR"]
atms_dispensador.head(2)

  ATM    Latitud    Longitud Tipo dispositivo        ETV
0   2  19.388584  -99.247905      DISPENSADOR  APODERADO
1   4  24.807033 -107.394186      DISPENSADOR      SEPSA

In [45]:
atms_dispensador.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7957 entries, 0 to 13753
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ATM               7957 non-null   object
 1   Latitud           7957 non-null   float64
 2   Longitud          7957 non-null   float64
 3   Tipo dispositivo  7957 non-null   object
 4   ETV               7957 non-null   object
dtypes: float64(2), object(3)
memory usage: 373.0+ KB

In [47]:
atms_dispensador.to_csv("atms_dispensador.csv")

In [46]:
atms_practicaja = atms_reduced[atms_reduced['Tipo dispositivo'] == "PRACTDUAL"]
atms_practicaja

        ATM    Latitud    Longitud Tipo dispositivo        ETV
5         8  19.383824  -99.068527        PRACTDUAL  APODERADO
11       15  19.435826  -99.188154        PRACTDUAL  APODERADO
16       21  19.470169  -99.131715        PRACTDUAL  APODERADO
61       71  19.562264  -99.244112        PRACTDUAL  APODERADO
107     119  19.562264  -99.244112        PRACTDUAL  APODERADO
...     ...        ...         ...              ...        ...
13777  E995  19.414688  -99.149285        PRACTDUAL  APODERADO
13778  E996  19.815443  -97.360568        PRACTDUAL  APODERADO
13779  E997  20.075351  -98.384862        PRACTDUAL  APODERADO
13780  E998  20.798145 -103.477212        PRACTDUAL  APODERADO
13781  E999  19.334578  -99.569324        PRACTDUAL  APODERADO

[5810 rows x 5 columns]

In [48]:
atms_practicaja.to_csv("atms_practicaja.csv")

In [49]:
issues_raw.columns

Index(['ATM_ID', 'SITIO', 'division', 'TIPO_SITIO', 'MARCA_MODELO', 'FALLA',
       'FECHA_INICIO', 'FECHA_FIN', 'DURACION', 'IMPACTO', 'TICKET_KEY',
       'ESTADO', 'CR', 'AUTOSERVICIO', 'NAME', 'faultid', 'generacion'],
      dtype='object')

In [51]:
issues_reduced = issues_raw[["ATM_ID", "FALLA", "DURACION"]]

In [55]:
issues_densidad = pd.merge(left=issues_reduced, right=atms_reduced, left_on="ATM_ID", right_on="ATM").sort_values(by="DURACION", ascending=False)

In [56]:
issues_densidad.to_csv("issues_densidad.csv")

In [70]:
atms_reduced["ETV"].unique()

array(['APODERADO', 'SEPSA', 'Apoderado'], dtype=object)

In [72]:
atms_reduced["ETV"] = atms_reduced["ETV"].str.upper()
atms_reduced

/tmp/ipykernel_1475/3934774105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  atms_reduced["ETV"] = atms_reduced["ETV"].str.upper()

        ATM    Latitud    Longitud Tipo dispositivo        ETV
0         2  19.388584  -99.247905      DISPENSADOR  APODERADO
1         4  24.807033 -107.394186      DISPENSADOR      SEPSA
2         5  19.549311  -99.017075      DISPENSADOR      SEPSA
3         6  21.341352  -97.681943      DISPENSADOR      SEPSA
4         7  22.149782 -101.000492      DISPENSADOR      SEPSA
...     ...        ...         ...              ...        ...
13777  E995  19.414688  -99.149285        PRACTDUAL  APODERADO
13778  E996  19.815443  -97.360568        PRACTDUAL  APODERADO
13779  E997  20.075351  -98.384862        PRACTDUAL  APODERADO
13780  E998  20.798145 -103.477212        PRACTDUAL  APODERADO
13781  E999  19.334578  -99.569324        PRACTDUAL  APODERADO

[13782 rows x 5 columns]

In [74]:
atms_reduced["ETV"].unique()

array(['APODERADO', 'SEPSA'], dtype=object)

In [75]:
atms_apoderado = atms_reduced[atms_reduced["ETV"] == "APODERADO"]
atms_apoderado.head(2)

  ATM    Latitud   Longitud Tipo dispositivo        ETV
0   2  19.388584 -99.247905      DISPENSADOR  APODERADO
5   8  19.383824 -99.068527        PRACTDUAL  APODERADO

In [76]:
atms_apoderado.to_csv("atms_apoderado.csv")

In [77]:
atms_NoApoderado = atms_reduced[atms_reduced["ETV"] == "SEPSA"]
atms_NoApoderado.head(2)

  ATM    Latitud    Longitud Tipo dispositivo    ETV
1   4  24.807033 -107.394186      DISPENSADOR  SEPSA
2   5  19.549311  -99.017075      DISPENSADOR  SEPSA

In [78]:
atms_NoApoderado.to_csv("atms_NoApoderado.csv")

Dataset con ranking de falla por ATM

In [95]:
atms_allrank = issues_densidad.groupby(by="ATM_ID").median("DURACION").sort_values(by="DURACION", ascending=False)
atms_allrank.count()

DURACION    12532
Latitud     12532
Longitud    12532
dtype: int64

In [96]:
atms_estables = atms_allrank[atms_allrank["DURACION"]<1.0]
atms_estables.count()

DURACION    9523
Latitud     9523
Longitud    9523
dtype: int64

In [103]:
compound_mask = (atms_allrank["DURACION"] >= 1.0) & (atms_allrank["DURACION"] <48.0)
atms_riesgosos = atms_allrank.loc[compound_mask]
atms_riesgosos.count()

DURACION    2993
Latitud     2993
Longitud    2993
dtype: int64

In [104]:
atms_fatales = atms_allrank.loc[atms_allrank["DURACION"] >= 48.0]
atms_fatales.count()

DURACION    16
Latitud     16
Longitud    16
dtype: int64

In [105]:
atms_estables.to_csv("atms_estables.csv")
atms_riesgosos.to_csv("atms_riesgosos.csv")
atms_fatales.to_csv("atms_fatales.csv")